
div#kopf {
  color: #333333;
  background-color: #ffffff;
  /* width: 720px; */
  width: 1024px;
  margin-top: 10px;
  margin-right: auto; /* Abstand rechts */
  margin-bottom: 0px;
  margin-left: auto; /* Abstand links */
  border:thin solid #E6E6E6;
  border-bottom-color: #ffffff;
  padding: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family:Georgia;
}

div {
  color: #333333;
  background-color: #ffffff;
  /* width: 720px; */
  width: 1024px;
  margin-top: 0px;
  margin-right: auto; /* Abstand rechts */
  margin-bottom: 0px;
  margin-left: auto; /* Abstand links */
  border:thin solid #E6E6E6;
  border-bottom-color: #ffffff;
  padding: 20px;
    font-family:Georgia;
/* font-family:Verdana,Helvetica,Arial; *／
  /* font-family:Georgia, serif; */
}

a:link {color:#1D9FCB; background-color:transparent; text-decoration:none}
a:visited {color:#1D9FCB; background-color:transparent; text-decoration:none}
a:hover   {color:#1D9FCB; background-color:transparent; text-decoration:underline}
a:active  {color:blue; background-color:transparent; text-decoration:none}

a.bluelink:link, a.bluelink:visited, a.bluelink:active 
{
    display: inline;
    color: #1D9FCB;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

a.bluelink:hover   {color:#1D9FCB; background-color:transparent; text-decoration:underline}

div#fuss {
  color: #333333;
  background-color: #FAFAFA;
  /* width: 720px; */
  width: 1024px;
  margin-top: 0px;
  margin-right: auto; /* Abstand rechts */
  margin-bottom: 0px;
  margin-left: auto; /* Abstand links */
  border:thin solid #E6E6E6;
  padding: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family:Georgia;
}

#menu {
  position: fixed;
  color: black;
  background-color: '';
  /* width: 720px; */
  margin-right: 0px; /* Abstand rechts */
  margin-bottom: 0px;
  margin-left: 0px; /* Abstand links */
  border:thin solid #E6E6E6;
  padding: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family:Georgia;
  right: 0;
  top: 40%;
  width: 6em;
  margin-top: auto;
}

div#menu-top{
  position: fixed;
  color: #333333;
  background-color: #FAFAFA;
  opacity: 0.6;
  /* width: 720px; */
  width: 800px;
  margin-top: 0px;
  margin-right: auto; /* Abstand rechts */
  margin-bottom: 0px;
  border:thin solid #FAFAFA;
  opacity: 0.6;
  padding: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family:Georgia;
  left: 20px;
  top: 0;
}


h1 {
	/* color: #527bbd; */
	color: #141D5D;
	/* margin-top: 0.7em;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	line-height: 1.0;
	padding-top: 0.5em;
	border-bottom: 1px solid #aaaaaa; */
}

h2,h3,h4 {
	color: #141D5D;
	/* margin-top: 0.7em;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	line-height: 1.0;
	padding-top: 0.5em;
	border-bottom: 1px solid #aaaaaa; */
}

style
 .bottom-add{
 margin-bottom:3px
 }
 
 vsp
{
    content: " ";
    display: block;
    margin:7px;
}

table {
    color: #333333;
}

b1 {
    font-weight: bold;
}